.page-main {
    &__offer {
        display: flex;
        gap: 70px;
        margin-top: 42px;

        padding-bottom: 100px;
    }

    &__select-main {
        margin-top: 50px;
    }

    &__toggle-btn {
        margin-top: 22px;
    }
}
