* {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-family: $montserrat-font;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}
button {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: none;
}

p, fieldset, legend {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    max-width: 813px;
    margin: 0 auto;
    height: 100%;
}

.hide {
    overflow: hidden;
    max-height: 100% !important;
}
