$color-snow: #ffffff;
$color-main-grey: #99a3b4;
$color-text-grey:#8395ba;
$color-secondary-grey: #a7b1bf;
$color-light-grey:#f0f2f5;
$color-light-btn-grey: #ecf2ff;
$color-stroke-grey: #cbd8f3;

$color-main-blue: #3478f6;
$color-secondary-blue: #0f69dd;
$color-light-blue: #397eff;
$color-light-select: #4993ec;
$color-accent-negative: #ff3347;
$color-general-dark: #000000;
$color-secondary-dark: #111111;

$color-accent-positive: #29f8ac;
$color-accent-bad: #ff7437;

$montserrat-font: 'Montserrat', sans-serif;
$mulish-font: 'Mulish', sans-serif;
